@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

*{
    font-family: "Roboto", sans-serif;
}

body{
    margin: 0px;
    background: #F5F5F5;
}
.navigationBar {
    background: #FFFFFF;
  height: 46px;
  padding: 2px 24px 0px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

p{
    margin: 0px;
}

.headconteiner{
    padding: 13px 16px 0px 14px;
    display: flex;
    justify-content: space-between;
    height: 59px;
    border-bottom: 1px solid #0000001F;
}


h3{
font-size: 20px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.15000000596046448px;
text-align: left;

    margin: 0px;
}

.selected {
    border: none;
    color: #23b04a;
    border-bottom: 2px #23b04a solid;
  }

  .centerBar {
    height: 100%;
  }

  .centerBar button {
    font-size: 14px;
    cursor: pointer;
    background: #fff;
    width: 164px;
    height: 100%;
  }
  
  .centerBar button{
letter-spacing: 1.25px;
    font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
  }
.unselected {
    color: #00000099;
    border: none;
    padding-left: 10px;
  }

.container{
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 3px 1px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
border-radius: 4px;
    margin-top: 52px;
    width: 85%;
    background: #fff;
    margin-left: 7.5%;
}

.choose{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.date{
    padding: 6px 12px;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0.25px;
    background: rgba(33, 33, 33, 0.116);
    color: #00000099;
    border: none;
    border-radius: 20px;
    height: 32px;
    margin-right: 4.5px;

}

.datestyle p{
    padding-left: 6px;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0.25px;
text-align: left;
}

.datestyle img{
    padding-left: 30px;
}

.datestyle{
    width: 180px;
    height: 40px;
    border: 1px solid #0000001F;
    display: flex;
    align-items: center;
}

thead, .tablfirst{
    color: #00000061;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0.25px;
}
select{
    appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
    background-position: calc(100% - 12px) center !important;
    background: url("data:image/svg+xml,<svg height='5px' width='5px' viewBox='0 0 16 16' fill='%2300000099' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat;
    padding: 4px 0px 0px 8px;
    color: #23b04a;
    border: 1px solid#23b04a ;
    border-radius: 5px;
    width: 100px;
    height: 26px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: left;

}
.workhide{
    display: none;
}
thead td, tbody td{
    border-bottom: #0000001F 1px solid;
    padding-bottom: 11px;
}

.show{
    border: none;
    background: none;
    padding: 0px 0px 0px 20px;
}
.workprib{
    transform: rotate(-90deg);
}

.tablestyle, .tablestyle2{
    color: #00000099;

font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0.25px;
text-align: left;
}

.tablestyle2 div{
    max-width: 100px;
    max-height: 100px;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

tbody td{
    vertical-align:top;
    padding-top: 10px;
}

tbody tr{
    height: 124px;
}

table{
    width: 100%;
    margin-top: 20px;
}
.tdStart{
    width: 15%;
}
td{
    padding-left: 12px;
}

.tdtype{
    width: 12.5%;
}
.tdwork{
    width: 46.5%;
}
.tdresult{
    width: 9.5%;

}
.tduser{
    width:13%;
}

.save{
    padding-top: 2px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    color: #23b04a;
    font-size: 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 1.25px;
    text-align: left;

}
.save p{
    height: 100px;
    padding-left: 9px;
    line-height: 100px;
}
.btnsPDF{
    width: 251px;
    display: flex;
    justify-content: space-between;
}

.btnsPDF button {
    height: 40px;

    border-radius:5px;
    border: 1px solid #0000001F;
    background: #FFFFFF;
}

.check{
    padding: 8px 0px 0px 0px;
}

.user{
    color: #2E9BC2;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0.25px;
text-align: left;

}


